<h2 class="subhead">
    Hoe word ik animator bij De Speelberg?
</h2>
<p class="text">
    Heel eenvoudig! Je komt gewoon eens langs. Laat wel op voorhand weten wanneer je zou komen. <br>
    Je kan ook naar onze jaarlijkse verwelkoming komen, deze gaat door op <time datetime="2020-03-21">21 maart</time>
</p>

<h2 class="subhead">
    Moet ik een attest hebben om animator te worden?
</h2>
<p class="text">
    Nee, dat is niet nodig. Iedereen met of zonder attest kan animator worden bij ons.
</p>

<h2 class="subhead">
    Ik word dit jaar 16, Mag ik animator worden?
</h2>
<p class="text">
    Ja, je mag bij ons animator worden vanaf het jaar dat je 16 wordt. <br>
    vb. Je wordt 16 jaar in december, maar zou graag in juli al op het speelplein staan. Dat is helemaal geen probleem!
</p>

<h2 class="subhead">
    Kan ik een animatorstage volgen op De Speelberg?
</h2>
<p class="text">
    Dat kan zeker! Laat ons iets weten, dan kunnen we samen iets regelen.
</p>

<h2 class="subhead">
    Volgende verwelkoming voor nieuwe animatoren
</h2>
<p class="text">
    De nieuwtjesverwelkoming gaat door op <time datetime="2020-03-21">21 maart 2020</time>!
</p>