<div class="block" id="info">
    <div class="block__title">
        <h3>Info</h3>
    </div>
    <div class="block__content">
        <div class="columns">
            <div class="column">
                <a href="/voorouders" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Voor ouders</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-user-friends"></i>
                            <p class="card__text">Alle informatie voor ouders. <br> Waar ligt het speelplein? Mag mijn kind al komen spelen? Hoeveel kost een dag op het speelplein?</p>
                        </div>
                        <div class="card__action">
                            <a href="/voorouders" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="/vooranimatoren" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Voor animatoren</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-users"></i>
                            <p class="card__text">
                                Ben je 16 jaar of ouder en heb je zin om animator te worden bij ons? Je bent altijd welkom!
                            </p>
                        </div>
                        <div class="card__action">
                            <a href="/vooranimatoren" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="block" id="kalender">
    <div class="block__title">
        <h3>Kalender</h3>
    </div>
    <div class="block__content">
        <div class="columns">
            <div class="column">
                <a href="/vakanties" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Vakanties 2020</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon far fa-calendar-alt"></i>
                            <p class="card__text"><b>Paasvakantie:</b> 6 tot en met 10 april (Enkel in de namiddag) <br> <b>Zomervakantie:</b> 1 tot en met 17 juli en van 17 tot en met 28 augustus.</p>
                        </div>
                        <div class="card__action">
                            <a href="/vakanties" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <!-- <a href="/evenementen" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Evenementen</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-child"></i>
                            <p class="card__text">Elk jaar organiseren en zijn wij aanwezig op enkele evenementen. Ontdek hier waar en wanneer!</p>
                        </div>
                        <div class="card__action">
                            <a href="/evenementen" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
    </div>
</div>

<div class="block" id="overons">
    <div class="block__title">
        <h3>Wie zijn wij?</h3>
    </div>
    <div class="block__content">
        <div class="columns">
            <div class="column">
                <a href="/pit" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>De PIT</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon far fa-handshake"></i>
                            <p class="card__text">Professioneel, Innovatief en Tof! Onze stuurgroep staat altijd voor jullie klaar!</p>
                        </div>
                        <div class="card__action">
                            <a href="/pit" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="/visie" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Onze visie</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-book"></i>
                            <p class="card__text">We willen elk kind een echt vakantiegevoel bezorgen door hen tot intens spelen te laten komen: niet zomaar spelen, maar zo hard spelen dat je alles rond je vergeet.</p>
                        </div>
                        <div class="card__action">
                            <a href="/visie" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="block" id="fotos">
    <div class="block__title">
        <h3>Foto's</h3>
    </div>
    <div class="block__content">
        <div class="columns">
            <div class="column">
                <a href="https://www.facebook.com/pg/despeelbergvzw/photos/" target="_blank" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Foto's</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon far fa-image"></i>
                            <p class="card__text">Alle onze foto's kan je bekijken op onze facebookpagina.</p>
                        </div>
                        <div class="card__action">
                            <a href="https://www.facebook.com/pg/despeelbergvzw/photos/" target="_blank" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://www.facebook.com/despeelbergvzw" target="_blank" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Facebook</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fab fa-facebook-f"></i>
                            <p class="card__text">Like ons op Facebook en mis niets van de laatste nieuwtjes!</p>
                        </div>
                        <div class="card__action">
                            <a href="https://www.facebook.com/despeelbergvzw" target="_blank" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://www.instagram.com/speelpleindespeelberg/" target="_blank" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Instagram</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fab fa-instagram"></i>
                            <p class="card__text">Volg ons op Instagram voor een blik achter de schermen!</p>
                        </div>
                        <div class="card__action">
                            <a href="https://www.instagram.com/speelpleindespeelberg/" target="_blank" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="block" id="contact">
    <div class="block__title">
        <h3>Neem contact met ons op</h3>
    </div>
    <div class="block__content">
        <a href="mailto:info@despeelberg.be" class="card-link">
            <div class="card">
                <div class="card__title">
                    <h2>Via mail</h2>
                </div>
                <div class="card__content">
                    <i class="card__icon far fa-envelope"></i>
                    <p class="card__text">De eenvoudigste manier om contact met ons op te nemen is via mail. Dit kan op het adres: info@despeelberg.be</p>
                </div>
                <div class="card__action">
                    <a href="mailto:info@despeelberg.be" class="card__go">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </a>
        <div class="columns">
            <div class="column">
                <a href="https://www.messenger.com/t/despeelbergvzw" target="_blank" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Via Facebook</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fab fa-facebook-messenger"></i>
                            <p class="card__text">Wij zijn ook bereikbaar op Facebook Messenger!</p>
                        </div>
                        <div class="card__action">
                            <a href="https://www.messenger.com/t/despeelbergvzw" target="_blank" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="tel:+32470031652" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Bellen en sms'en</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-phone"></i>
                            <p class="card__text">Je kan ons bereiken op: <br> +324 70 03 16 52. <b>Let op:</b> al onze vrijwilligers studeren nog.</p>
                        </div>
                        <div class="card__action">
                            <a href="tel:+32470031652" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="https://www.google.com/maps/place/Speelplein+De+Speelberg+vzw/@50.8761384,3.3369983,17z/data=!3m1!4b1!4m5!3m4!1s0x47c33c1c09d4e2fd:0x94260f0da1e8e83a!8m2!3d50.876135!4d3.339187" target="_blank" class="card-link">
                    <div class="card">
                        <div class="card__title">
                            <h2>Brieven</h2>
                        </div>
                        <div class="card__content">
                            <i class="card__icon fas fa-envelope-open-text"></i>
                            <p class="card__text">Je mag ons altijd een brief schrijven. Deze mag je posten op: <br> Tomberg 21a, 8791 Beveren-Leie</p>
                        </div>
                        <div class="card__action">
                            <a href="https://www.google.com/maps/place/Speelplein+De+Speelberg+vzw/@50.8761384,3.3369983,17z/data=!3m1!4b1!4m5!3m4!1s0x47c33c1c09d4e2fd:0x94260f0da1e8e83a!8m2!3d50.876135!4d3.339187" target="_blank" class="card__go">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>