<h2 class="subhead">
    Waar ligt het speelplein?
</h2>
<p class="text">
    Onze speelpleinwerking kan je vinden op Tomberg 21A. We delen de gebouwen en terreinen met <a class="link" href="http://www.chiro-leieland.be/">Chiro Leieland</a>.
</p>
<div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=400&hl=nl&q=Tomberg%2021a%2C%208791%20Beveren-Leie+(Speelplein%20De%20Speelberg)&ie=UTF8&t=&z=18&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>

<h2 class="subhead">
    Voor wie is het speelplein?
</h2>
<p class="text">
    Alle kinderen tussen 3 en 15 jaar zijn bij ons welkom
</p>

<h2 class="subhead">
    hoe ziet een dag eruit op het speelplein?
</h2>
<p class="text">
    Een dag bij ons bestaat uit veschillende dagdelen. <br>
    <b>7:45 - 9:30</b> Tijdens de zomervakantie staat onze poort open voor iedereen die wil komen spelen! om 9:30 sluit de poort en kan je niet meer binnen. <br>
    <b>9:30 - 12:00</b> Er worden verschillende activiteiten georganiseerd door een ethousiaste groep animatoren. Je kan zelf kiezen waar je meespeelt! <br>
    <b>12:00 - 13:00</b> Je kan over de middag op het speelplein blijven en je boterhammen opeten. Er wordt ook een drankje aangeboden (cola, fanta of water). <br>
    <b>13:00 - 13:45</b> Onze poort staat weer open voor iedereen! <br>
    <b>13:45 - 17:30</b> Een hele namiddag spelen! Om 15:30 is er een vieruurtje waar je een koekje (zelf meebrengen) kan eten en een drankje krijgt. Om 17:30 worden alle kinderen afgehaal aan de poort.
</p>

<h2 class="subhead">
    Hoeveel kost een dag op het speelplein?
</h2>
<p class="text">
    <b>Voormiddag</b> €1 <br>
    <b>Middag</b> €1 (Inclusief drankje) <br>
    <b>Namiddag</b> €2 (inclusief drankje)
</p>

<h2 class="subhead">
    Moet ik mijn kind op voorhand inschrijven?
</h2>
<p class="text">
    Het is niet nodig om je kind op voorhand in te schrijven. Je schrijft je kind in aan de poort. Er zal wel worden gevraagd om een medisch attest in te vullen.
</p>